@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

body
{
	background-color: white;
	width: 1535px;
	height: auto;
	overflow-x: auto;
}

@-webkit-keyframes typing 
{
	from
	{
		width: 0;
	}
}

@-webkit-keyframes blink-caret
{
	50%
	{
		border-color: transparent;
	}
}

@-webkit-keyframes delay
{
	0%
	{
		opacity: 0;
	}

}

.header
{
	width: 97%;
	height: 125px;
	background: linear-gradient(to right, #9d4adf, #00BFFF, #87CEFA);
	box-shadow: 1px 2px 5px 0.5px #aaa;
	opacity: 1;
	-webkit-animation-name: delay;
	-webkit-animation-duration: 10s;
	border: 2px solid black;
	border-radius: 2px;
	z-index: 1;
	margin: 13px 0 0 13px;
}

.header img
{
	margin: 10px 0 0 30px;
}

h1
{
	font: bold 325% Consolas, Monaco, monospace;
	border-right: 3px solid black;
	width: 15ch;
	margin: -80px 0 0 175px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 6s steps(15, end), blink-caret 0.4s step-end infinite alternate;
}

img
{
	height: 100px;
	width: 100px;
	opacity: 1;
	-webkit-animation-name: delay;
	-webkit-animation-duration: 10s;
}

.about
{
	height: 75px;
	width: 64.3%;
	padding: 0 20px;
	float: left;
	margin: 17px 0 0 13px;
	border: 1px solid #0000FF;
	border-radius: 1px;
	background-color: #E6E6FA;/*
	box-shadow: 1px 1px 5px 0.5px #aaa;*/
	text-align: center;
	overflow: auto;
	opacity: 1;
	-webkit-animation-name: delay;
	-webkit-animation-duration: 10s;
}

.namecontainer
{
	height: 545px;
	width: 26%;
	border: 1px solid #0000FF;
	float: right;
	margin: 17px 30px 0 0;
	border-radius: 1px;
	padding: 0px 20px;
	background-color: #E6E6FA;/*
	box-shadow: 1px 1px 5px 0.5px #aaa;*/
	text-align: center;
	overflow: auto;
	opacity: 1;
	-webkit-animation-name: delay;
	-webkit-animation-duration: 10s;
}

.thankyou
{
	height: auto;
	width: 25.9%;
	border: 1px solid #0000FF;
	float: left;
	margin: 13px 15px 20px 13px;
	text-align: center;	
	border-radius: 1px;
	background-color: #E6E6FA;
	padding: 0px 20px 30px 20px;/*
	box-shadow: 1px 1px 5px 0.5px #aaa;*/
	opacity: 1;
	-webkit-animation-name: delay;
	-webkit-animation-duration: 10s;
}

span
{
	font-size: 18px;

}

.btncontainer
{
	width: 38%;
	height: 480px;
	float: right;
	margin: 0 10px 0 0;
}

.btn
{
	height: 180px;
	width: 42%;
	border: 2px solid black;
	border-radius: 2px;
	float: left;
	margin: 25px 10px 0 10px;
	padding: 10px;
	text-align: center;
	background-color: #FFFAF0;/*
	box-shadow: 1px 1px 5px 0.5px #aaa;*/
	opacity: 1;
	-webkit-animation-name: delay;
	-webkit-animation-duration: 10s;
	cursor: pointer;
}

.btn:hover
{
	box-shadow: 3px 2px 10px 1px #aaa;
	transition: 1s;
	background-color: #FFFAF0;
	border: 2px solid #0000FF;
}

.btn img
{
	margin: 30px 0 0 0;
}

#gps
{
	width: 200px;
}

main h2
{
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 35px;
}

main
{
	position: relative;
	display: flex;
}

.marker, .h, .a, .n, .k, .space, .y, .o
{
	animation-timing-function: cubic-bezier(0.15,-0.01,0.58,1);
	animation-duration: 5s;
	animation-iteration-count: infinite;
	will-change: transform;
}

.marker
{
	height: 1.5px;
	width: 23px;
	margin: 70px 0 0 64px;
	background-color: transparent;
	animation-name: marker;
}

.h
{
	margin-left: 5px;
	animation-name: h;
}


.a
{
	margin-left: 5px;
	animation-name: a;
}


.n
{
	margin-left: 5px;
	animation-name: n;
}


.k
{
	margin-left: 5px;
	animation-name: k;
}


.space
{
	margin-left: 0;
	animation-name: space;
}


.y
{
	margin-left: 20px;
	animation-name: y;
}


.o
{
	margin: 0 15px 0 15px;
	animation-name: o;
}

@keyframes h { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(10px); }
}
@keyframes a { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(20px); }
}
@keyframes n { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(30px); }
}
@keyframes k { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(40px); }
}

@keyframes y { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(20px); }
}
@keyframes o { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(10px); }
}
@keyframes marker { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(242px); }
}

@media screen and (max-width: 850px)
{
	body
	{
		width: 450px;
	}

	.header
	{
		width: auto;
		height: 220px;
		margin-left: 0;
	}

	h1
	{
		font: bold 250% Consolas, Monaco, monospace;
		margin: 0 0 20px 5%;

	}

	.header img
	{
		margin: 15px 40%;
		text-align: center;
	}

	.about
	{
		width: 86%;
		height: auto;
		padding-bottom: 10px;
		margin-bottom: 13px;
	}

	.namecontainer
	{
		width: 86%;
		height: auto;
		float: none;
		padding-bottom: 10px;
		margin: 26px 0 0 13px;
	}

	.thankyou
	{
		width: 86%;
		height: auto;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.btncontainer
	{
		width: 95%;
		height: auto;
	}

	.btn
	{
		width: 90%;
		height: auto;
		padding: 20px 0;
		margin-left: 3%;
		margin-right: 3%;
	}
	
	.name
	{
	    margin: 0 auto;
	}

    .imgcontainer
    {
        margin: 10px auto;
    }
}

@media screen and (max-width: 300px)
{
	h1
	{
		font: bold 250% Consolas, Monaco, monospace;
		/*color: white;*/
	}
}

